/* General styling */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

/* Navbar styling */
.navbar {
  background-color: #333;
  color: white;
}

/* Container for page content */
#content {
  margin-bottom: 60px; /* Adjust the margin to the height of your footer */
}

/* src/styles/style.css */

/* Add Bootstrap classes for the Footer */

